a {
  text-decoration: none;
}

.edit-btn {
  margin-bottom: 8px;
}

.info-container {
  margin: 2rem auto;
}

.info {
  margin-bottom: 2rem;
}

.art-piece {
  margin-bottom: 2.5rem;
}

.oliver-container {
  text-align: center;
}

.header {
  margin-top: 20px;
}

.home-container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.oliver {
  max-width: 60%;
  height: auto;
}

.cta-container {
  text-align: center;
  margin-top: 20px;
}

/* Additional media queries for fine-tuning responsiveness */
@media (max-width: 767.98px) {
  .header {
    font-size: 1.5rem;
  }
  .home-container h1 {
    font-size: 1.2rem;
  }
  .cta-container h4 {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .oliver {
    max-width: 300px;
  }

  .header {
    font-size: 2rem;
  }
  .home-container h1 {
    font-size: 1.5rem;
  }
  .cta-container h4 {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .oliver {
    max-width: 300px;
  }

  .header {
    font-size: 2.5rem;
  }
  .home-container h1 {
    font-size: 2rem;
  }
  .cta-container h4 {
    font-size: 1.5rem;
  }
}
