{% extends 'base.html' %}
{% load static %}

{% block title %}Enter New Password{% endblock%}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %} 

<div class="container">
    <h2 class="header">Enter New Password</h2>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Change my password</button>
    </form>
</div>

{% endblock %}