{% extends 'base.html' %}
{% load static %}

{% block title %} Account Settings {% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
  <h1 class="header">Account Settings</h1>

<!-- Account Info -->
<div id="account-info">
  <h2>Account Information</h2>
  <form method="post" action="{% url 'account_info_settings' %}#account-info">
    {% csrf_token %}
    {{ account_form|crispy }}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            {% if 'account' in message.tags %}
                <li class="alert alert-success">{{ message }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}

    <button type="submit" class="btn btn-primary">Save Account Info</button>
  </form>

</div>

<hr>

<!-- Email Preferences -->
<div id="email-prefs">
  <h2>Email Notification Preferences</h2>
  <form method="post" action="{% url 'email_pref_settings' %}#email-prefs">
    {% csrf_token %}
    {{ email_form|crispy }}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            {% if 'email' in message.tags %}
                <li class="alert alert-success">{{ message }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}

    <button type="submit" class="btn btn-primary">Save Email Preferences</button>
  </form>
</div>

<hr>

<!-- Password Change -->
<div id="password">
  <h2>Change Password</h2>
  <form method="post" action="{% url 'password_settings' %}#password">
    {% csrf_token %}
    {{ password_form|crispy }}

    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            {% if 'password' in message.tags %}
                <li class="alert alert-success messages">{{ message }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}

    <button type="submit" class="btn btn-primary">Change Password</button>
  </form>
</div>

</div>
{% endblock %}


{% block scripts %}
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('account-info-form');
        const saveButton = document.getElementById('save-button');

        const initialData = new FormData(form);

        form.addEventListener('input', function () {
        const currentData = new FormData(form);
        let changed = false;

        for (const [key, value] of currentData.entries()) {
            if (value !== initialData.get(key)) {
            changed = true;
            break;
            }
        }

        saveButton.disabled = !changed;
        });
    });
    </script>
{% endblock %}