{% extends 'base.html' %}
{% load static %}

{% block title %} Already Submitted {% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}
<h1 class="header">You've already submitted a piece this month!</h1>

<p>Thank you for submitting a piece of art for this round! At this time, we only accept one submission per month. Look forward to receiving pieces from other Omnivore members on Tuesdays and Fridays throughout the month, and start thinking about what you want to share next month!</p>
{% endblock %}