<div class="comment" style="margin-left: {{ level }}em;">
    {% include 'main/comment_text.html' %}
    {% if not comment.replies.all %}
         {% include 'main/reply_form.html' with reply_recipient=comment.sender.first_name redirect_url=redirect_url%}
    {% endif %}
    {% for reply in comment.replies.all %}
        {% include 'main/comment_text.html' with comment=reply level=1%}
        {% if forloop.last %}
        {% include 'main/reply_form.html' with reply_recipient=comment.sender.first_name redirect_url=redirect_url%}
        {% endif %}
    {% endfor %}
</div>
