<div class="comment" style="margin-left: {{ level }}em;">
    <p><strong>{{ comment.sender.first_name }} {{ comment.sender.last_name }}</strong>: {{ comment.text }}</p>
    {% if forloop.last %}
        <form method="post" action="{% url 'my_received_art' %}">
            {% csrf_token %}
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
            <textarea name="text" rows="2" class="form-control mb-2" placeholder="Reply to {{comment.recipient.first_name}}..."></textarea>
            <button type="submit" name="reply_comment" class="btn btn-primary">Reply</button>
        </form>
    {% endif %}
</div>
