{% extends 'base.html' %}
{% load static %}

{% block title %} Home Page {% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}
<h1 class="header">Welcome to Omnivore Arts!</h1>
<img class="oliver" src="{% static 'images/oliver-no-bg.png' %}" alt="Oliver the Omnivore">
{% if user.is_authenticated %}
<h3>Share a piece of art <a href="/share-art">here</a>!</h3>
{% else %}
<h3>Sign up for an account <a href="/sign-up">here</a>!</h3>
{% endif %}
{% endblock %}