{% extends 'base.html' %}
{% load static %}

{% block title %} My Received Art {% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}

<h1 class="header">My Received Art</h1>

{% for piece in pieces %}
<div class="card mt-2 art-piece">
    <div class="card-header"><strong>
        {% if piece.link %}
        <a href="{{piece.link}}" target="_blank"><span class="card-title">{{piece.piece_name}}</span></a>
        {% else %}
        <span class="card-title">{{piece.piece_name}}</span>
        {% endif %}
        </strong>({{ piece.artist_name }})</div>
    <div class="card-body d-flex flex-row justify-content-between">
      <div>
        <p>{{piece.piece_description|linebreaksbr}}</p>
      </div>
    </div>
    <div class="card-footer text-muted">Shared by <strong>{{piece.user.first_name}} {{piece.user.last_name}}</strong></div>
  </div>
  {% empty %}
  <p>You haven't received anything yet!</p>
{% endfor %}

{% endblock %}