{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %} My Received Art {% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}

<h1 class="header">My Received Art</h1>

{% for piece in pieces %}
  <div class="card mt-2 art-piece">
    <div class="card-header"><strong>
        {% if piece.link %}
        <a href="{{piece.link}}" target="_blank"><span class="card-title">{{piece.piece_name}}</span></a>
        {% else %}
        <span class="card-title">{{piece.piece_name}}</span>
        {% endif %}
        </strong>({{ piece.artist_name }})</div>
    <div class="card-body d-flex flex-row justify-content-between">
      <div>
        <p>{{piece.piece_description|linebreaksbr}}</p>
      </div>
    </div>
    <div class="card-footer text-muted">Shared by <strong>{{piece.user.first_name}} {{piece.user.last_name}}</strong></div>

    <div class="comments-section">
      <h5>Comments</h5>
      {% for comment in conversations|dict_get:piece %}
          <div class="conversation">
              {% include 'main/comment_thread_received.html' with comment=comment level=0 %}
          </div>
      {% endfor %}
      {% if not conversations|dict_get:piece %}
      <form method="post" action="{% url 'my_received_art' %}">
          {% csrf_token %}
          <input type="hidden" name="art_piece_id" value="{{ piece.id }}">
          <textarea name="text" rows="2" class="form-control mb-2" placeholder="Add a comment..."></textarea>
          <button type="submit" name="add_comment" class="btn btn-primary">Add Comment</button>
      </form>
      {% endif %}
    </div>

  </div>

  


  {% empty %}
  <p>You haven't received anything yet - make sure to <a href="/share-art">share something</a> by July 5th so that don't miss out on getting any art!</p>
{% endfor %}

{% endblock %}