{% extends 'main/base.html' %}

{% block title %} My Shared Art {% endblock %}

{% block content %}

{% for piece in pieces %}
<div class="card mt-2">
    <div class="card-header"><strong>{{ piece.artist_name }}</strong></div>
    <div class="card-body d-flex flex-row justify-content-between">
      <div>
        {% if piece.link %}
        <a href="{{piece.link}}" target="_blank"><span class="card-title">{{piece.piece_name}}</span></a>
        {% else %}
        <span class="card-title">{{piece.piece_name}}</span>
        {% endif %}
        <p>{{piece.piece_description}}</p>
      </div>
    </div>
    <div class="card-footer text-muted">{{piece.created_at}}</div>
  </div>
  {% empty %}
  <p>Nothing shared yet!</p>
{% endfor %}

{% endblock %}