{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block title %} My Shared Art {% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}

<h1 class="header">My Shared Art</h1>

{% for piece in pieces %}
<div class="card mt-2 art-piece">
    <div class="card-header"><strong>
      {% if piece.link %}
        <a href="{{piece.link}}" target="_blank"><span class="card-title">{{piece.piece_name}}</span></a> 
        {% else %}
        <span class="card-title">{{piece.piece_name}}</span>
        {% endif %}
        </strong>({{piece.artist_name}})</div>
    <div class="card-body">
      <div>
        <p>{{piece.piece_description|linebreaksbr}}</p>
      </div>
      <div class="art-buttons">
        <a href="{% url 'edit_art_piece' piece.id %}" class="btn btn-primary edit-btn" id="edit-btn">Edit</a>
        <form method="post" action="{% url 'delete_art_piece' piece.id %}" onsubmit="return confirmDelete();">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      </div>
    </div>
    <div class="card-footer text-muted">Shared {{piece.created_at|date:"F j, Y" }}</div>


    <div class="comments-section">
      {% for comment in conversations|dict_get:piece %}
          <div class="conversation">
              {% include 'main/comment_thread.html' with comment=comment level=0 redirect_url='my_shared_art' top_level_comment=comment%}
          </div>
      {% endfor %}
    </div>
    
</div>

  {% empty %}
  <p>Nothing shared yet - share something <a href="/share-art">here</a>!</p>
{% endfor %}

<script>
  function confirmDelete() {
      return confirm('Are you sure you want to delete this post? This cannot be undone.');
  }
  </script>
{% endblock %}