{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Notifications {% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}
<h1 class="header">Your Notifications</h1>

<ul class="notification-list">
  {% for notification in notifications %}
    <li class="notification-item {% if not notification.read %}unread{% endif %}">
      <a href="{% url 'notification_redirect' notification.id %}" class="notification-link">
        {{ notification.message }}
        <span class="notification-timestamp">{{ notification.timestamp|naturaltime }}</span>
      </a>
    </li>
  {% empty %}
    <li>No notifications yet.</li>
  {% endfor %}
</ul>

{% endblock %}