{% extends 'base.html' %}
{% load static %}

{% block title %} FAQ {% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}
<h1 class="header">FAQ</h1>

<h4>When am I supposed to submit my chosen piece of art?</h4>
<p>We start accepting submissions for a new round on the 1st of every month. You can submit your chosen piece at any time during the month, just keep in mind that you won't receive any art until you have shared something of your own.</p>

<h4>How many pieces of art can I submit?</h4>
<p>At this time, we're only accepting one submission per person in a given month. We hope this constraint encourages people to be thoughtful and selective about what they submit, and that it will ensure everyone always has a piece of art that they can't wait to share in the next round!</p>

<h4>What types of art can I submit?</h4>
<p>We're interpreting "art" broadly, as in "the arts" - music, movies, TV, novels, poetry, plays, dance, painting, sculpture, architecture, and much more. You can find more detailed guidelines/suggestions for submissions <a href="/submission-guidelines">here</a>. </p>

<h4>How often will I receive art?</h4>
<p>If you have submitted something, then you'll receive a new piece of art from someone else in the community every Tuesday and Friday of the month (after the 3rd of the month, to give everyone time to submit).</p>

<h4>How are you choosing what to send to people?</h4>
<p>Technically, we're not "choosing" at all - it's completely random, which is what makes it fun! We have a database of all the art that people have submitted, and every Tuesday/Friday, we send one of those to you. You won't receive anything you've submitted, or anything you've already received, but other than that, it could be anything! No two people in the community will get the same pieces in the same order.</p>
{% endblock %}