{% extends 'base.html' %}
{% load static %}

{% block title %} FAQ {% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}
<h1 class="header">FAQ</h1>

<h4>When am I supposed to submit my chosen piece of art?</h4>
<p>We start accepting submissions for a new round on the 1st of every month. You can submit your chosen piece at any time during the month, just keep in mind that you won't receive any art until you have shared something of your own.</p>

<h4>How often will I receive art?</h4>
<p>If you have submitted something, then you'll receive a new piece of art from someone else in the community every Tuesday and Friday of the month (after the 3rd of the month, to give everyone time to submit).</p>
{% endblock %}