{% extends 'base.html' %}
{% load static %}

{% block title %} How It Works {% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}
<h1 class="header">How It Works</h1>
<h6>Omnivore is an art-sharing platform. We start a new round every month: submit a piece of art that you love, and twice a week for the rest of the month, you'll get back a random artwork that someone else has shared.</h6>



<h5>Our first round begins July 1st! To get involved:</h5>
<ul>
  {% if not user.is_authenticated %}
  <li><a href="/sign-up">Sign up</a> for an account, or <a href="/login">log in</a>.</li>
  {% endif %}
  <li>Submit one piece of art <a href="/share-art">here</a>, starting July 1st. Guidelines for submissions can be found <a href="/submission-guidelines">here</a>.</li>
  <li>We will start sharing art on July 5th. You can submit your chosen piece after that, but you'll only receive art if you've shared something.</li>
  <li>Enjoy the art that others have shared! You'll receive a piece every Tuesday and Friday.</li>
</ul>

<p>Check out our FAQ page for more details, or email jonathan@omnivorearts.com with any other questions/feedback!</p>

{% endblock %}