{% extends 'base.html' %}
{% load static %}

{% block title %} How It Works {% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}
<h1 class="header">How It Works</h1>
<p class='info-text'>Omnivore is an art-sharing platform. We start a new round every month: submit a piece of art that you love, and twice a week for the rest of the month, you'll get back a random artwork that someone else has shared.</p>

<div class='info-container'>
  <h5>Our first round begins July 1st! To get involved:</h5>
  <ul>
    {% if not user.is_authenticated %}
    <li><a href="/sign-up">Sign up</a> for an account, or <a href="/login">log in</a>.</li>
    {% endif %}
    <li>Submit one piece of art <a href="/share-art">here</a>, starting July 1st. Guidelines for submissions can be found <a href="/submission-guidelines">here</a>.</li>
    <li>You'll get your first piece of art on July 5th. You can submit your chosen piece after that date, but you'll only receive art if you've shared something.</li>
    <li>Enjoy the art that others have shared! You'll receive a piece every Tuesday and Friday.</li>
    <li>Think about what you want to share next month!</li>
  </ul>
</div>

<p>Check out our <a href="/faq">FAQ page</a> for more details, or email <a href="mailto:jonathan@omnivorearts.com" >support@omnivorearts.com</a> with any other questions/feedback!</p>

{% endblock %}