{% extends 'base.html' %}
{% load static %}

{% block title %} Submission Guidelines {% endblock %}
{% block css_files %}
  <link rel="stylesheet" href="{% static "css/styles.css" %}">
{% endblock %}

{% block content %}
<h1 class="header">Submission Guidelines</h1>
<p>Questions about what kind of art you can/should submit? Here are some general guidelines.</p>

<h4>We're taking an expansive definition of art, as in "the arts" - think visual arts, performing arts, literary arts, and more.</h4>
<p>An incomplete list of artistic disciplines that would be a great fit for submission:</p>
<ul>
  <li>Architecture</li>
  <li>Dance</li>
  <li>Fiction</li>
  <li>Film</li>
  <li>Music</li>
  <li>Painting</li>
  <li>Photography</li>
  <li>Poetry</li>
  <li>Sculpture</li>
  <li>Television</li>
  <li>Theatre</li>
</ul>
<p>We don't want to categorically rule out anything from consideration. However, here are some examples that would be much less suitable:</p>
<ul>
  <li>News/opinion articles</li>
  <li>Most non-fiction books</li>
  <li>Memes</li>
  <li>Recipes</li>
  <li>Sports highlights</li>
</ul>

<h4>Lean toward submissions that are slightly off the beaten track.</h4>

<p>It's great if you love <em>Abbey Road</em>, <em>Game of Thrones</em>, or <em>Harry Potter</em>. But those works don't need your help to spread, and anyone who receives your submission will probably already know it. In general, it would be more interesting to share something with less mainstream popularity that has a reasonable chance of being unknown to some percentage of fellow Omnivore members. A good general prompt would be, "What is a piece of art you love that you wish more people knew about?"</p>
<p>That being said, if you have a really fascinating personal story about a well-known piece, don't hesitate to share it! It's also valuable for people to see familiar things through someone else's unique perspective; the recipient will always view that piece of art differently.</p>
{% endblock %}